<!DOCTYPE html>
<html data-bs-theme="dark">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="#" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <span class="fs-4">MoodTracker</span>
                    </a>
                </div>
                <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                </ul>
                <div class="col-md-3 text-end">
                    {% if app.user %}
                        <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="btn btn-outline-primary me-2" href="{{ path('app_login') }}">Login</a>
                        <a class="btn btn-primary" href="{{ path('app_register') }}">Register</a>
                    {% endif %}
                </div>
            </header>
        </div>
        <div class="container">
		    {% block body %}{% endblock %}
        </div>
	</body>
</html>
