{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<a hx-get="{{ path('app_mood_index') }}" hx-target="main.container">
		<button class="secondary">Back</button>
	</a>
	{{ form(form) }}
{% endblock %}
