{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<a href="{{ path('app_mood_index') }}">
		<button class="secondary">Back</button>
	</a>
	{{ form(form) }}
{% endblock %}
