{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<table>
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Mood</th>
				<th scope="col">Comment</th>
				<th scope="col">
					<a href="{{ path('app_mood_add') }}">
						<button class="primary">Add new entry</button>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for mood in moods %}
				<tr>
					<th scope="row">{{ mood.createdAt|date("d M, H:i") }}</th>
					<td>{{ mood.mood }}</td>
					<td colspan="2">{{ mood.comment }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
